@import "tailwindcss";

@theme {
  --spacing-150: 37.5rem;

  --background-image-glow-primary: radial-gradient(
    circle 800px at 0% 0%,
    #10b98115,
    transparent
  );
  --background-image-glow-secondary: radial-gradient(
    circle 800px at 100% 100%,
    #10b98115,
    transparent
  );
}

body {
  @apply bg-slate-950 text-slate-200 antialiased tracking-tight leading-relaxed;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800/50 rounded-full border-2 border-slate-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-emerald-500/50;
}

/* 讓 LoadingIndicator 自動吃 Tailwind 的顏色，而不用在標籤寫死 */
.nuxt-loading-indicator {
  background: theme("colors.emerald.500") !important;
  height: 3px !important;
}

.shiki {
  background-color: transparent !important;
}

.shiki span {
  background-color: transparent !important;
}
.shiki .line {
  background-color: transparent !important;
}

.preserve-3d {
  transform-style: preserve-3d;
}
